.App {
  background: #457b9d;
  width: max-content;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e63946;
  padding: 10px;
  border-radius: 5px;
}

.App header {
  font-size: 48px;
  padding-bottom: 20px;
  color: #f1faee;
  letter-spacing: 3px;
  text-align: center;
  font-family: Roboto, sans-serif;
}
